---
const { collections } = Astro
---

<article class="my-6" itemProp="blogPost" itemScope itemType="https://schema.org/BlogPosting">
	<h1 class="text-3xl md:text-4xl font-bold tracking-tight mb-6 " itemProp="name headline">
		{meta.title}
	</h1>
	<header class="flex items-center mb-8 sm:mb-10">
		<figure class="bg-gray-200 w-8 h-8 sm:w-6 sm:h-6 mr-4 rounded-full overflow-hidden flex-shrink-0 ring-1 ring-gray-200 dark:ring-gray-800">
			<Image alt={process.env.NAME} height={32} width={32} src="/images/photo.jpg" priority />
		</figure>
		<div class="flex flex-col sm:flex-row sm:justify-between sm:w-full text-sm">
			<div class="text-gray-600 dark:text-gray-400">
				<span itemProp="author" itemScope itemType="https://schema.org/Person">
					<span itemProp="name">Pavel Mineev</span>
				</span>
				&nbsp;at&nbsp;
				<time itemProp="datePublished" dateTime={meta.date}>
					{publishedAt}
				</time>
			</div>
			<div class="text-gray-500">
				{readingTime}
				<span class="inline-block mx-2" role="separator">
					•
				</span>
				<ViewCounter slug={slug} count />
			</div>
		</div>
	</header>
	<section class="prose dark:prose-dark w-full mb-6 mx-auto" itemProp="articleBody">
		<MDXRemote {...source} />
	</section>
	<footer class="max-w-[65ch] w-full mx-auto flex justify-between text-gray-600 dark:text-gray-400">
		<div class="text-sm">
			<Link
				class="transition inline-block border-b border-transparent hover:border-gray-600"
				href={`https://mobile.twitter.com/search?q=${encodeURIComponent(
					`${process.env.NEXT_PUBLIC_VERCEL_URL}/blog/${slug})`
				)}`}
			>
				Discuss on Twitter
			</Link>
			<span class="mx-2" role="separator">
				•
			</span>
			<Link
				class="transition inline-block border-b border-transparent hover:border-gray-600"
				href={`${process.env.NEXT_PUBLIC_GITHUB_REPO_URL}/edit/main/data/blog/${slug}.mdx`}
			>
				Edit on GitHub
			</Link>
		</div>
		{original && (
			<div class="text-sm">
				Originally posted on{' '}
				<Link
					class="transition inline-block border-b border-transparent hover:border-gray-600"
					href={original.url}
				>
					{original.name}
				</Link>
			</div>
		)}
	</footer>
</article>
