---
import NavItem from '../components/NavItem'
import Footer from '../components/Footer'
import navMenu from '../data/nav-menu.json'
import socialLinks from '../data/social-links.json'
import defaultMeta from '../data/meta.json'

const {
	title,
	description,
	type,
	name,
	request,
	twitter,
	image,
	date,
} = { ...defaultMeta, ...Astro.props }
---

<html class="h-full disable-transitions" lang="en">
<head>
	<meta charset="utf-8" />
	<title>{Astro.props.title ? `${title}${defaultMeta.titleSuffix}` : title}</title>
	<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')}>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content={description} />
	<meta property="og:type" content={type} />
	<meta property="og:image" content={new URL(image, request.canonicalURL.origin)} />
	<meta property="og:site_name" content={name} />
	<meta name="twitter:site" content={twitter} />
	<meta name="author" content={name} />
	<link rel="canonical" href={request.url} />
	{date && <meta property="article:published_time" content={date} />}
	<link rel="sitemap" href="/sitemap.xml" />
	<link rel="alternate" type="application/rss+xml" href="/feed/blog.xml" />
	<link rel="sitemap" href="/sitemap.xml" />
	<script src={Astro.resolve('../scripts/global.js')} defer />
</head>
<body class="min-h-full flex flex-grow flex-col overflow-y-scroll">
	<header class="w-full m-auto p-6 max-w-3xl lg:max-w-4xl">
		<a href="#skip" class="sr-only focus:not-sr-only">
			Skip to content
		</a>
		<nav class="text-sm sm:text-base">
			<ul class="flex w-full space-x-4">
				{navMenu.map(({ href, title }) => (
					<NavItem href={href} active={href === request.url.pathname}>{title}</NavItem>
				))}
			</ul>
		</nav>
	</header>
	<main id="skip" class="w-full m-auto p-6 max-w-3xl lg:max-w-4xl flex flex-col flex-grow py-12">
		<slot />
	</main>
	<Footer {socialLinks}/>
</body>
</html>
