---
import readingTime from 'reading-time'
import { format, parseISO } from 'date-fns'

import Layout from './main'

const { content, request } = Astro.props
const { title, summary, original, publishedAt, astro } = content
const stats = readingTime(astro.source)
const publishAtDate = format(parseISO(publishedAt), 'MMMM d, yyyy')
const slug = Astro.request.url.pathname.split('/').pop()
---

<Layout request={Astro.request}>
	<article
		class="my-6"
		itemProp="blogPost"
		itemScope
		itemType="https://schema.org/BlogPosting"
	>
		<h1 class="text-3xl md:text-4xl font-bold tracking-tight mb-6 " itemProp="name headline">
			{title}
		</h1>
		<div class="flex">
			<aside class="order-2 w-full pl-6">
				<div class="flex sticky top-0 pt-5">
					<figure class="bg-gray-200 sm:w-6 sm:h-6 mr-4 rounded-full overflow-hidden flex-shrink-0 ring-1 ring-gray-200 dark:ring-gray-800">
						<img alt={process.env.NAME} height={32} width={32} src="/images/photo.jpg" />
					</figure>
					<div class="text-gray-600 dark:text-gray-400">
						<div class="mb-2" itemProp="author" itemScope itemType="https://schema.org/Person">
							<span itemProp="name">Pavel Mineev</span>
						</div>
						<div class="text-sm">
							<time itemProp="datePublished" dateTime={publishedAt}>
								{publishAtDate}
							</time>
							<div class="text-gray-500 mb-2">
								{stats.text}
							</div>
							<div data-views-for={slug} data-views-count>&dash;&dash;&dash; views</div>
						</div>
					</div>
				</div>
			</aside>
			<section class="order-1 prose dark:prose-dark w-full mb-6" itemProp="articleBody">
				<slot />
			</section>
		</div>
		<footer class="max-w-[65ch] w-full flex justify-between text-gray-600 dark:text-gray-400">
			<div class="text-sm">
				<a
					class="transition border-b border-transparent hover:border-gray-600"
					href={`https://mobile.twitter.com/search?q=${encodeURIComponent(
						`${process.env.NEXT_PUBLIC_VERCEL_URL}/blog/${slug})`
					)}`}
				>
					Discuss on Twitter
				</a>
				<span class="mx-2" role="separator">
					•
				</span>
				<a
					class="transition border-b border-transparent hover:border-gray-600"
					href={`${process.env.NEXT_PUBLIC_GITHUB_REPO_URL}/edit/main/data/blog/${slug}.mdx`}
				>
					Edit on GitHub
				</a>
			</div>
			{original && (
				<div class="text-sm">
					Originally posted on{' '}
					<a
						class="transition border-b border-transparent hover:border-gray-600"
						href={original.url}
					>
						{original.name}
					</a>
				</div>
			)}
		</footer>
	</article>
</Layout>
